// Colors
$colorPrimary: #dbbf43;
$colorPrimaryDarken: #7d2727;
$colorSecondary: #8e44ad;
$colorBlackish: #2f3542;
$colorBlack: #000;
$colorBlue: #3742fa;
$colorDarkBlue : #1B1464;
$colorWhite: #ffffff;
$colorGray100: #f1f2f6;
$colorGray300: #bfbfbf;
$colorGray500: #8c8c8c;
$colorGray700: #595959;

// fonts
$fontRoboto: "Roboto", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontDancing: "Dancing Script", cursive;
$fontJosefin: "Josefin Sans", sans-serif;
