@import "./variables";

section#privacyPolicy {
  .sectionWrapper {
    max-width: 1100px;
    margin: auto;
    padding: 4rem 10px;
    > * {
      line-height: 1.4;
    }

    .title {
      margin-bottom: 2rem;
      color: $colorDarkBlue;
    }

    h3 {
      margin-bottom: 10px;
      color: $colorDarkBlue;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    h2 {
      margin-bottom: 10px;
      color: $colorDarkBlue;
      margin-top: 2rem;
    }

    p {
      margin-bottom: 10px;
    }
  }
}
